apiVersion: v1
kind: Service
metadata:
  name: {{ include "ibp-drainage-view.fullname" . }}
  labels:
    {{- include "ibp-drainage-view.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    {{- range .Values.service.PortScope }}
    - port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: {{ .protocol }}
      name: {{ .portName }}
     {{- end }}
  selector:
    {{- include "ibp-drainage-view.selectorLabels" . | nindent 4 }}
---
{{- if .Values.service.Enabled }}
apiVersion: v1
kind: Service
metadata:
  name: headless-{{ include "ibp-drainage-view.fullname" . }}
  labels:
    {{- include "ibp-drainage-view.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:  {{- $type := .Values.service.type -}}
    {{- range .Values.service.PortScope }}
    - port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: {{ .protocol }}
      name: {{ .portName }}
      {{- if eq $type "NodePort" }}
      nodePort: {{ .nodePort }}
      {{- end }}
     {{- end }}
  selector:
    {{- include "ibp-drainage-view.selectorLabels" . | nindent 4 }}
{{- end }}